<div class="card card-styling">
    <div class="card-body-styling">
        <div class="card-title card-title-styling">
            <h2>{{post.title}}</h5>
                <p>
                    Posted by {{post.user.name}} on {{format_date post.date_created}}
                </p>
        </div>
        <p class="card-text card-text-styling">{{post.contents}}</p>
    </div>
</div>

<p id="post-list-text">
    Comments
</p>

<div class="card comment-box">
    <div class="card-body comment-text">
        <p class="card-text card-text-styling">
            {{post.comment}}
        </p>
        <p class="card-text card-text-styling comment-details">Comment by {{post.comment.user.name}}, posted on {{post.comment.date_created}}</p>
    </div>
</div>

<form class="new-comment form-style">
    <div class="mb-3">
        <label for="post-comment" class="form-label input-title">Leave a comment</label>
        <textarea class="form-control" id="post-comment" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-styling" data-id="{{post.id}}">Submit</button>
</form>

<script src="/js/add-comment.js"></script>